@import "~bootstrap/dist/css/bootstrap.css";

.header{
    font-family: Tahoma, sans-serif ;
    padding:5px 20px;
    background: #5bc6f7;
}

.title{
    color: aliceblue;
    text-decoration: none;
}

.login, .register{
    float: right;
    text-decoration: none;
    color: aliceblue;
    padding-top: 10px;
}

.logout,.new-post{
    float: right;
    color: aliceblue;
    padding-top: 17px;
}