@import "~bootstrap/dist/css/bootstrap.css";

.header{
    font-family: Tahoma, sans-serif ;
    padding:5px 20px;
    background: #5bc6f7;
}

.title{
    color: aliceblue;
    text-decoration: none;
}

.login, .register{
    float: right;
    text-decoration: none;
    color: aliceblue;
    padding-top: 10px;
}

.logout,.new-post,.new-image{
    float: right;
    color: aliceblue;
    padding-top: 17px;
}


img {
    vertical-align: top;
}


.demo-1 a {
    position: absolute;
    left: 850px;
    top: -10px;
}
