<div class="header">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
                <a href=""><img src="https://fontmeme.com/permalink/191223/de62504de6db38dfc1977a2cfe5408a3.png" alt="twitter-font "class = "title" border="0"></a>
                <div class="demo-1">
                    <a href="#"><img src="/assets/STABBR LOGO.png" width="170px" ></a>
                </div>
              <h3><a href="" class = "title"></a></h3>
            </div>
            <div class= "col-md-3" *ngIf="authService.isAuthenticated()">
                <a routerLink="add-post" class = "new-post" >Add Post</a>
              <button class="logout btn btn-default" (click) = "logout()">Logout</button>
            </div>
            <div class = "col-md-3" *ngIf="!authService.isAuthenticated()">
                <a routerLink="login" class= "login btn btn-default">Login</a>
                <a routerLink="register" class= "register btn btn-default">Register</a>
            </div>
    </div>
</div>
</div>
